<nav class="navbar navbar-expand navbar-dark bg-danger text-white">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo01">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link fs-4 mx-5" [routerLink]="['/movies']" routerLinkActive="active">Film</a>
        </li>
        <li class="nav-item me-5" *ngIf="isLoggedIn">
          <a class="nav-link fs-4" [routerLink]="['/users']" routerLinkActive="active">Profilo</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link active fs-4 mx-5" aria-current="page" [routerLink]="['/']" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Login</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link fs-4" [routerLink]="['/signup']" routerLinkActive="active">Registrati</a>
        </li>
      </ul>
      <div *ngIf="isLoggedIn">
        <p class="d-inline username-welc-back">Bentornato <span class="fst-italic fw-bolder">{{welcomeUser}}</span></p>
        <button class="btn btn-dark mx-3" (click)="onLogout()">logout</button>
      </div>
    </div>
  </div>
</nav>
